body {
  margin: 0;
}

.navigation {
  padding-bottom: 20px;
}
.navbar ul {
  list-style-type: none;
  width: 500px;
  height: 24px;
  margin-left: 70%;
  margin-top: 30px;
}
section {
  height: 500px;
  margin-bottom: 30px;
}
.navbar ul li {
  display: inline;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #3c3c3c;
  padding: 10px;
}
.navbar ul li a {
  text-decoration: none;
  color: #3c3c3c;
}

.link-button {
  text-decoration: none;
  color: white;
  font-family: Roboto;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  padding: 15px 25px;
  background-image: linear-gradient(45deg, #ff8063, #f46060);
  border-radius: 6px;
}

.link-button:hover {
  background-image: linear-gradient(45deg, #ee3309, #d85e0d);
}
#download-icon {
  height: 20px;
  width: 20px;
  padding-top: 10px;
  padding-right: 10px;
  margin-top: 5px;
}
.half-width {
  width: 40%;
  float: left;
  margin-top: 60px;
  margin-left: 5%;
  padding-left: 50px;
}
.half-width img {
  width: 80%;
}
h1 {
  font-size: 80px;
  font-weight: 700;
  font-family: Bebas Neue;
  margin: 0;
}
h3 {
  font-family: Bebas Neue;
  font-size: 48px;
  font-weight: 700;
}
p {
  width: 50%;
  font-family: Roboto;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}
#colored-text {
  color: #ff8367;
}

.projects {
  margin-top: 20%;
  background-color: #e9ebee6b;
  text-align: center;
  height: 800px;
  width: 100%;
}
.projects h3 {
  padding-top: 120px;
  font-weight: 700;
  font-size: 48px;
  line-height: 48px;
}
.cards-container {
  top: 30px;
  margin: 20px auto;
  height: 380px;
  width: 80%;
  padding-top: 100px;
  padding-left: 5%;
}
.cards-container .card {
  float: left;
}
.card {
  display: block;
  height: 380px;
  width: 30%;
  background-color: white;
  border-radius: 19px;
  box-shadow: 2px 2px 5px gray;
  margin-right: 20px;
}
.card h6 {
  font-family: Roboto;
  color: #363958;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  margin: 0;
}
.card p {
  width: 100%;
  font-family: Roboto;
  font-size: 16px;
  line-height: 28px;
  color: #6c6c6c;
}
.card img {
  width: 90%;
  border-radius: 19px;
  margin: 10px 5px;
}
